<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Order Status Page</h2>
    <form action="/orders/<%= order._id %>/status" method="POST">
        <p><input type="text" name="status" value="<%= order.status %>"></p>
        <p><button>Update Status</button></p>
    </form>
    <p>Current Status: <%= order.status %>
    </p>
    <a href="/orders/<%= order._id %>/delete">Delete Order</a>
    <a href="/orders/<%= order._id %>/edit">Edit Order</a>
    <a href="/orders">Back to Orders</a>
</body>

</html>