<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Users Admin Page</h2>
    <a href="/users/add">Add User</a>
    <ul>
        <% users.forEach(user=> { %>
            <li>
                <p>
                    Name : <%= user.name %>
                </p>
                <p>
                    Email : <%= user.email %>
                </p>
                <p>
                    Password : <%= user.password %>
                </p>
                <p>
                    Role : <%= user.role %>
                </p>

                <a href="/users/<%= user._id %>/edit">Edit</a>
                <a href="/users/<%= user._id %>/delete">Delete</a>
                <br />
                <hr />
            </li>
            <% }) %>
    </ul>
</body>

</html>